/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/public/view
composer.lock
.env
/public/upload/*
/public/export/*
/public/.rnd
/public/nginx.htaccess
/packages
/tests
/public/view/*
/public/mix-manifest.json
/public/robots.txt
/public/web.config
/storage/*
